.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-top: 15vh;
}

.todo-item:nth-child(even) {
  background-color: #dfdfdf;
}

.todo-item.urgent {
  color: #aa0000;
}

.todo-item .complete {
  color: green !important;
  text-decoration: line-through;
}